body {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  background: skyblue;
  color: purple;
  text-shadow: 1px 1px 2px pink;
  height:800px;
  margin: auto;
  background-image: url('../images/background.jpg');
  background-size: 100% 800px;
  background-repeat: no-repeat;
}
button {
  background: purple;
  color: skyblue;
  border: none;
  padding: .8% 1%;
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: bold;
}
button:hover {
  background: blue;
}
select{
  background: lime;
  padding:.8%;
  font-weight: bold;
}
option{
  background: green;
  font-weight: bold;
}
#container{
  width:100%;
  height:800px;
}
section{
  padding-top: 20%;
}
section > h1{
  font-size: 2em;
}
h2 > h2{
  color: blue;
}
.textContainer{
  width: 50%;
  margin: auto;
}
.hidden{
  display: none;
}
/* ---------------------------------
Responsive Responsive Responsive
--------------------------------- */
@media only screen and (max-width:768px) {
  #container{
    width:100%;
    margin: auto;
  }
  .textContainer{
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024){
  #container{
    width:80%;
    margin: auto;
  }
  .textContainer{
    width: 100%;
    margin: auto;
  }
}
